*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
    text-align: center;
    
}
h1{
    color:white;
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #687c84;
    margin:30px 0;
}
h2{
    color:#e67919;
    font-size: 30px;
    padding-top: 20px;
    
}
.open{
    color:purple;
}

 main{
     width: 800px;
     height: 800px;
     margin:0 auto;
    
 }
 .clearfix{
     content: "";
     display: table;
     clear: both;
 }

 .card{
    width: 22%;
    height: 30%;
    background-color: white;
    position: relative;
    float: left;
    margin: 0 4% 5% 0;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px #687c84;
}
.card:nth-of-type(4n+0){
    margin-right: 0;
}
.card:nth-child(12),
.card:nth-child(11),
.card:nth-child(10),
.card:nth-child(9){
    margin-bottom: 0;
}

 
 .card img{
     width: 100%;
 }
 .pattern{
     width: 100%;
     height: 100%;
     background-image: url(./memory-assets/img/pattern.png);
     background-size:80%;
     position: absolute;
     top:0;
     left:0;
     border-radius: 30px;
    box-shadow: 3px 3px #687c84;
     
 }
 .overlay{
     display: none;
 }
 .pattern:active{
     display: none;
 }
 footer h3{
     margin:3% 0;
 }


     